<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zxingdemo.lyb.com.zxingdemo" >
    <!-- 联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序访问有关GSM网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 相机访问 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 要访问摄像设备，你必须在manifest里面申明camera权限，必须保证包括<uses-feature>元素 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 允许读SD卡中的数据 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许向SD卡写数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许访问振动设备 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 访问闪光灯,android开发网提示htc Dream不包含闪光灯 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- 允许一个程序修改当前设置，如本地化 -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <!-- 允许一个程序打开窗口使用 TYPE_SYSTEM_ALERT，显示在其他所有程序的顶层 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ZXingActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ZXingQRCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Translucent" />
        <activity
            android:name="zxingdemo.lyb.com.zxingdemo.zxing.CaptureCamraActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>
